
<div id='gencontainer'>

  <nav>
    <div class="nav-wrapper">
      <form>
        <div class="input-field">
          <input id="search" type="search" required>
          <label for="search"><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>
        </div>
      </form>
    </div>
  </nav>

<div class='timeline-item'>
  <form ng-submit="postMsg()" id='submit'>
    <textarea ng-model='msg' id="textarea"></textarea>
    <div class='postpad' ng-if="msg != null">
      <input type='submit' id= 'buttonpost' value='post'/></input>
    </div>
  </form>
</div>

<div class='timeline-item'>
<div id='messages' class="col s12 m7" ng-repeat='message in data.msgs'>
  <div class="card horizontal">
  <div class="card-image">
    <img src="http://lorempixel.com/100/190/nature/6">
  </div>
  <div class="card-stacked">
    <div class="card-content">
      <p class='#304ffe indigo-text text-accent-4'>Christina</p>
      <p class='bdbdbd grey-text text-lighten-1'>{{message.created_at | date: 'medium'}}</p>
      <p>{{message.content}}</p>

      <span ng-init="status=false"  ng-click="status =!status; addLike(status,message.id, message.likes)"> 
           <span id= {{message.id}}><i class="fa fa-thumbs-up"></i> Like 
            </span> 
            </span>
             {{message.likes}}
             
    </div>
    <div class='msgpad'></div>
           <!-- Like Function begin -->
          

         <!-- Like End  -->
  </div>
</div>
</div>


</div>






