<div id='gencontainer'>

  <div class='timeline-item'>
  <form ng-submit='postMsg()' id='submit'>
    <textarea placeholder="What's on your mind?" ng-model='msg' id='textarea'></textarea>
    <div class='postpad' ng-if='msg != null'>
      <div class='upload'>
        <a href='#/upload'><i class='fa fa-camera fa-2x' id='camera'></i></a>
      </div>
      <input type='submit' id= 'buttonpost' value='post'/></input>
    </div>
  </form>
  </div>

  <div class='timeline-item' ng-if='data.msgs'>
    <div ng-repeat='message in data.msgs'>
      <div class='card'>
        <div class='topwrap'>
          <div class='image'>
            <img class='resize' ng-src={{message.photolink}}>   
          </div>
          <div class='namedate'>
            <p class='name'>{{message.firstName}} {{message.lastName}}</p>
            <p class='bdbdbd grey-text text-lighten-1' id='datetime'><span title="{{message.created_at | amDateFormat: 'MMMM Do YYYY, h:mm a' }}">{{message.created_at | amCalendar:referenceTime:formats}}</span></p>
          </div>
          <div class='postedmsgs'>
            <p>{{message.content}}</p>
          </div>
          <div class='msglikes'> This is where the like button will go</div>
          <div class='commentwrap'>
            <div class='comment-item'>
              <form ng-submit='postCmt()' id='submitCmt'>
              <textarea placeholder="Write a comment" ng-model='cmt' id='textarea2'></textarea>
              <div class='postpad' ng-if='cmt != null'>
                  <input type='submit' id= 'buttonpost2' value='post'/></input>
              </div>
              </form>
            </div>
            <div ng-repeat='comment in data.cmts'>
              <div class='topcmtwrap'>
                <div class='cmt-image'>
                  <img class='resize' src='https://ipetcompanion.com/feedapuppy/styles/media/puppy.jpg'>   
                </div>
                <div class='datename'>
                <p class='name'>{{comment.content}}</p>
                <p class='bdbdbd grey-text text-lighten-1' id='datetime'>{{comment.created_at}}</p>
                </div>
              </div>
          </div>
       </div>
      </div>
    </div>
  </div>
</div>




