
<div id='HackOverFlow'>
<div class='HackOverPost'>
  <form ng-submit="postQue()" id='submit'>
    <textarea ng-model='question' id="textarea" placeholder="Please Post Your Question"></textarea>
    <button> Question</button>
  </form>
</div>

<div>

<ul class="collapsible" data-collapsible="accordion">
   <li id="licollapse" ng-repeat="message in data.msgs">  
   
  


 
     
   <div class="collapsible-header"><i class="fa fa-expand" aria-hidden="true"></i>
          <div class='image'>
            <img class='resize' ng-src={{message.photolink}}>   
          </div>
           <div class='namedate'>
            <p class='name'>{{message.firstName}} {{message.lastName}}</p> 
            <p>{{(filtered = (data.anscount|filter:{qid:message.id})).length}} Answers</p>
            <p class='bdbdbd grey-text text-lighten-1' id='datetime'><span title="{{message.created_at | amDateFormat: 'MMMM Do YYYY, h:mm a' }}">{{message.created_at | amCalendar:referenceTime:formats}}</span></p>
             </div>

           <div class='postedmsgs'>
          <p>{{message.Content}}</p>
          
         </div>
        <div class='msgImg' ng-show='message.msgImageUrl'>
          <img class='showImg' ng-src={{message.msgImageUrl}}>
        </div>
        
      </div>
  
      
   <div class="collapsible-body">
   <div ng-repeat='answers in data.answers'> 
    <span ng-if="message.id === answers.qid "> 
     <div class='card'>
      <div class='topcmtwrap'>
        <div class='cmtimage'>
        <img class='resize' ng-src={{answers.photolink}}> 
         <div class ="namecontent">
         <p class='cmtname'>{{answers.firstName}} {{answers.lastName}}</p>
        <p class='cmtcont'> {{answers.Answer}}</p>
        <p class='bdbdbd grey-text text-lighten-1' id='datetime'>
       <span title="{{answers.created_at | amDateFormat: 'MMMM Do YYYY, h:mm a' }}">{{answers.created_at | amCalendar:referenceTime:formats}}
       </span></p>

          </div> 
              </div>
          </div>

          <div class='cmtlikes'> 
              <span ng-init="status=false"  ng-click="status =!status; addLike(status, answers.id, answers.likes)">
               <span id= {{answers.id}}><i class="fa fa-thumbs-up"></i> Like </span> 
                </span>
                {{answers.likes}}
              </div>
            </span> 
      </div>
          </div> 
        <div class ="textbox">  
     <textarea ng-model="txtcomment" placeholder="Please Add Your ANswer" style='width:200px'></textarea>
    <button ng-click=postAnswer(message.id,txtcomment);> Answer</button>
      </div>

</div>


</li>
       <script>            
         $(document).ready(function() {
        $('.collapsible').collapsible({
         accordion: true 
         });
         });
        </script>
  </ul>




</div>





