
<div class="profile-background">
	<div class="profile-container">
		
		<div class="row">
			
			<div class="col s4">
				<img class="profilePic" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTzGrzOmWnyUBP7qi9vvpayztO7S05mN87JvI08mh1NTK7shZiIrVTmxQ"/></img>
			</div>
			<div class="col s1"></div>
			<div class="col s5">
				<h3 class=".profileName">Profile User</h1>
				<div class='profileEmail admin'>
					<i class="fa fa-envelope" aria-hidden="true"></i>
					User@gmail.com
				</div>
				<div class="profileEmployer admin"><i class="fa fa-money" aria-hidden="true"></i><span class="admin-data">Big Company, Inc.</span></div>
				<div class="profileLocation admin"><i class="fa fa-map-marker" aria-hidden="true"></i><span class="admin-data">Austin, TX</span></div>
				<div class="profileCohort admin"><i class="fa fa-graduation-cap" aria-hidden="true"></i><span class="admin-data">
	MKS 47</span></div>
				<div class="profileGithub admin"><i class="fa fa-github" aria-hidden="true"></i><span class="admin-data">user24</span></div>
			</div>
		
		</div>
		<hr>
		<div class="row">
			<h5> About </h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
		</div>
		<hr>
		<div class="row">
			<ul> <h5>Stack</h5>
				<li>Angular</li>
				<li>Node</li>
				<li>Mongo</li>
				<li>HTML</li>
			</ul>
	</div>
		<hr>

		<div class="row">
			

			<div class="col s4 center">


	      <ul class="collection with-header">
	        <li class="collection-header"><h5>Hobbies</h4></li>
	        <li class="collection-item">Coding</li>
	        <li class="collection-item">Eating</li>
	        <li class="collection-item">Inhaling</li>
	        <li class="collection-item">Exhaling</li>
	      </ul>       
	   	</div>

			<div class="col s4 center">
	      <ul class="collection with-header">
	        <li class="collection-header"><h5>Flicks</h4></li>
	        <li class="collection-item">Lion King</li>
	        <li class="collection-item">Lion King 1.5</li>
	        <li class="collection-item">Lion King II</li>
	        <li class="collection-item">Lion King III</li>
	      </ul>       
	   	</div>

			<div class="col s4 center">
	      <ul class="collection with-header">
	        <li class="collection-header"><h5>Reads</h4></li>
	        <li class="collection-item">Berenstein Bears</li>
	        <li class="collection-item">The Cat in the Hat</li>
	        <li class="collection-item">Green Eggs and Ham</li>
	        <li class="collection-item">Where the Wild THings Are</li>
	      </ul>       
	   	</div>

		</div>
	</div>
</div>




