
<div>
	<h1 class=".profileName">Kendrick!</h1>
	<div class='profileEmail'>kbgar24@gmail.com</div>
	<div class="profileEmployer">Tenfold</div>
	<img class="profilePic"/></img>
	<div class="profileLocation">Austin, TX</div>
	<div class="profileCohort">MKS 47</div>
	<div class="profileGithub"><a href="https://github.com/kbgar24">kbgar24</a></div>
	<ul> Tech Stack
		<li>Angular</li>
		<li>Node</li>
		<li>Mongo</li>
		<li>HTML</li>
	</ul>
	<div class="profileHobby">Hobbies 
		<span>Chess</span>
		<span>Running</span>
		<span>Reading</span>
	</div>
	<div class="profileFavBooks">Favorite Books</div>
	<div class="profileFavBooks">Favorite Movies</div>
	<div class="profileFavBooks">Favorite Quotes</div>
</div>




